<div ng-controller="ContactCtrl" class="completeContactInfo">
    <h1>Contact Info</h1>

    <div>
      <h3>First name: {{contactComponents.contactFirstName}}</h3>  
      <h3>Last name: {{contactComponents.contactLastName}}</h3>
      <h3>Phone: {{contactComponents.contactPhone}}</h3>
      <h3>E-mail: {{contactComponents.contactEmail}}</h3>
      <h3>Username: {{contactComponents.contactUsername}}</h3>
      <h3>Password: {{contactComponents.contactPassword}}</h3>
      <h3>Address 1: {{contactComponents.contactAddress1}}</h3>
      <h3>Address 2: {{contactComponents.contactAddress2}}</h3>
      <h3>City: {{contactComponents.contactCity}}</h3>
      <h3>State: {{contactComponents.contactState}}</h3>
      <h3>Zip: {{contactComponents.contactZipCode}}</h3>
    </div>

    <br>
    <br>

</div>
